@charset "utf-8";
.sample2_text {
	/* word-wrap: break-word; */
	word-break: break-all;
	cursor: default;
	font-size: 24px;
	line-height: 32px;
	padding: 12px;
	color: #fff;
	text-shadow: 0px -1px 4px #000, 1px -1px 4px #000, 1px 0px 4px #000, 1px 1px 4px #000, 0px 1px 4px #000, -1px 1px 4px #000, -1px 0px 4px #000, -1px -1px 4px #000;
}
.sample2_text img {
	vertical-align: top;
}
.sample2_text.skipable {
	color: #0cf;
}
.sample2_choose {
	color: #fff;
	text-shadow: 0px -1px 4px #00f, 1px -1px 4px #00f, 1px 0px 4px #00f, 1px 1px 4px #00f, 0px 1px 4px #00f, -1px 1px 4px #00f, -1px 0px 4px #00f, -1px -1px 4px #00f;
	cursor: pointer;
}
.sample2_choose:hover {
	text-shadow: 0px -1px 4px #f00, 1px -1px 4px #f00, 1px 0px 4px #f00, 1px 1px 4px #f00, 0px 1px 4px #f00, -1px 1px 4px #f00, -1px 0px 4px #f00, -1px -1px 4px #f00;
}
.sample2_exclaim {
	text-shadow: 0px -1px 4px #f0f, 1px -1px 4px #f0f, 1px 0px 4px #f0f, 1px 1px 4px #f0f, 0px 1px 4px #f0f, -1px 1px 4px #f0f, -1px 0px 4px #f0f, -1px -1px 4px #f0f;
}
.sample2_shout {
	text-shadow: 0px -1px 4px #0c0, 1px -1px 4px #0c0, 1px 0px 4px #0c0, 1px 1px 4px #0c0, 0px 1px 4px #0c0, -1px 1px 4px #0c0, -1px 0px 4px #0c0, -1px -1px 4px #0c0;
}
.sample2_to {
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}
.sample2_to2 {
	transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}
.sample2_button {
	cursor: pointer;
	font-size: 12px;
	border-radius: 16px;
	margin: 4px;
	padding: 3px 8px 4px 7px;
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
	box-shadow: inset -2px -2px 2px rgba(0,0,0,0.8), inset 2px 2px 2px rgba(255,255,255,0.8), 0px 0px 16px rgba(0,0,0,0.8);
	background-color: #00f;
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
}
.sample2_button:hover {
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
}
.sample2_button.on {
	padding: 4px 7px 3px 8px;
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.8), inset -2px -2px 2px rgba(255,255,255,0.8), 0px 0px 16px rgba(0,0,0,0.8);
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
}
.sample2_button.on:hover {
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
}
