@charset "utf-8";
.sample1_bg {
	background-color: #6ff;
	background-image: linear-gradient(#6ff, #630);
	background-image: -o-linear-gradient(#6ff, #630);
	background-image: -moz-linear-gradient(#6ff, #630);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ff), to(#630));
}
.sample1_text {
	word-break: break-all;
	/* overflow: hidden; */
	cursor: default;
	font-size: 24px;
	line-height: 32px;
	color: #000;
	background-color: #fff;
	margin: 12px;
	border-radius: 12px;
	padding: 6px 12px;
}
.sample1_text.skipable {
	color: #09f;
}
.sample1_text img {
	vertical-align: top;
}
.sample1_caption {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	margin: 4px 8px;
	padding: 0px;
}
.sample1_button {
	cursor: pointer;
	font-size: 12px;
	border-radius: 16px;
	margin: 4px;
	padding: 3px 8px 4px 7px;
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
	box-shadow: inset -2px -2px 2px rgba(0,0,0,0.8), inset 2px 2px 2px rgba(255,255,255,0.8), 0px 0px 16px rgba(0,0,0,0.8);
	background-color: #00f;
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
}
.sample1_button:hover {
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
}
.sample1_button.on {
	padding: 4px 7px 3px 8px;
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.8), inset -2px -2px 2px rgba(255,255,255,0.8), 0px 0px 16px rgba(0,0,0,0.8);
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
}
.sample1_button.on:hover {
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
}
