@charset "utf-8";
body {
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
}
.bg {
	background-color: #fff;
	background-image: linear-gradient(#fff, #ccc);
	background-image: -o-linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(#fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}
.choose {
	color: #00f;
	cursor: pointer;
}
.choose:hover {
	color: #f00;
	text-decoration: underline;
}
.choose2 {
	color: #f09;
	cursor: pointer;
}
.choose2:hover {
	color: #fff;
	text-shadow:  0px -1px 1px #f09, 1px -1px 1px #f09, 1px  0px 1px #f09, 1px  1px 1px #f09, 0px  1px 1px #f09,-1px  1px 1px #f09,-1px  0px 1px #f09,-1px -1px 1px #f09;
}
.choose2:active {
	color: #f9f;
	text-shadow:  0px -1px 1px #f09, 1px -1px 1px #f09, 1px  0px 1px #f09, 1px  1px 1px #f09, 0px  1px 1px #f09,-1px  1px 1px #f09,-1px  0px 1px #f09,-1px -1px 1px #f09;
}
.choose3 {
	color: #00f;
	text-align: center;
	cursor: pointer;
}
.choose3:hover {
	border-radius: 8px;
	background-color: #fcf;
	background-image: linear-gradient(#fff, #fcf);
	background-image: -o-linear-gradient(#fff, #fcf);
	background-image: -moz-linear-gradient(#fff, #fcf);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcf));
}
.choose4 {
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
.choose4:hover {
	color: #fff;
	text-shadow: 0 0 4px #f00, 0 0 16px #f0f;
}
.pick:hover {
	outline: 2px solid #f0f;
	cursor: pointer;
}
.textColor {
	color: #f00;
}
.textBold {
	font-weight: bold;
}
.textSmall {
	font-size: 12px;
}
.textLarge {
	font-size: 48px;
}
.textBox {
	outline: solid 1px #00f;
}
.textShadow {
	color: #ffc;
	text-shadow: 2px 2px 2px #000;
}
.textOutline {
	color: #fff;
	text-shadow: 0px -1px 0px #000, 1px -1px 0px #000, 1px 0px 0px #000, 1px 1px 0px #000, 0px 1px 0px #000, -1px 1px 0px #000, -1px 0px 0px #000, -1px -1px 0px #000;
}
.textDim {
	color: #888;
	text-shadow: 0px 0px 8px #000;
}
.textGlow {
	color: #fff;
	text-shadow: 0 0 8px #fff, 0 0 16px #f0f;
}
.OesText {
	/* word-wrap: break-word; */
	word-break: break-all;
	/* overflow: hidden; */
	cursor: default;
}
.OesText img {
	vertical-align: top;
}
.OesText._0 {
	padding: 8px;
	font-size: 24px;
	line-height: 30px;
	color: #000;
}
.OesText._1 {
	margin: 7px;
	padding: 8px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	background-color: #fcf;
	border: 1px solid #fcf;
}
.OesText._2 {
	margin: 7px;
	padding: 8px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	background-color: #fcf;
	border: 1px solid #666;
}
.OesText._3 {
	margin: 7px;
	padding: 8px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	background-color: #fcf;
	border: 1px solid #666;
	border-radius: 8px;
}
.OesText._4 {
	margin: 7px;
	padding: 8px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	background-color: #fcf;
	border: 1px solid #666;
	border-radius: 8px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.OesText._5 {
	margin: 7px;
	padding: 8px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	background-color: #fcf;
	border: 1px solid #666;
	border-radius: 8px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	background-image: url(textback.png);
}
.OesText._6 {
	margin: 7px;
	padding: 8px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	background-color: #fcf;
	border: 1px solid #666;
	border-radius: 8px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.OesText._6:hover {
	background-color: #ffc;
}
.OesText._7 {
	margin: 7px;
	padding: 8px 8px 8px 96px;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	background-color: #fcf;
	border: 1px solid #666;
	border-radius: 8px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.OesText._7:hover {
	background-color: #ffc;
}
.OesText._8 {
	padding: 8px 32px 8px 8px;
	font-size: 24px;
	line-height: 30px;
	color: #000;
}
.OesText._9 {
	margin: 4em 0em 4em 1em;
	font-size: 24px;
	line-height: 48px;
	color: #000;
}
.recordFrame {
	background-color: #fff;
	background-image: linear-gradient(#fff, #ccc);
	background-image: -o-linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(#fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}
.recordTitle {
	font-size: 24px;
	line-height: 23px;
	padding: 5px;
	color: #fff;
	text-align: center;
	background-color: #00f;
	background-image: linear-gradient(#00f, #009);
	background-image: -o-linear-gradient(#00f, #009);
	background-image: -moz-linear-gradient(#00f, #009);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#009));
	border-radius: 4px;
	margin: 2px;
	cursor: default;
}
.recordText {
	font-size: 24px;
	line-height: 24px;
	color: #000;
	margin: 1em 0 1em 2em;
	cursor: default;
}
.recordCaption {
	margin: 0 0 0 3em;
	font-size: 24px;
	line-height: 24px;
	color: #00f;
	cursor: pointer;
}
.recordCaption:hover {
	color: #f00;
	text-shadow: 0px 0px 8px #f0f;
}
.recordDate {
	margin: 0.25em 0 1em 4em;
	font-size: 24px;
	line-height: 24px;
	color: #999;
	cursor: default;
}
.recordButton {
	margin: 4px;
	font-size: 20px;
	line-height: 19px;
	padding: 5px;
	color: #000;
	background-color: #fff;
	background-image: linear-gradient(#fff, #ccc);
	background-image: -o-linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(#fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); 
	border: 1px solid #000;
	border-radius: 4px;
	cursor: pointer;
}
.recordButton:hover {
	color: #f00;
	text-shadow: 0px 0px 8px #f0f;
	border: 1px solid #f00;
	box-shadow: 0px 0px 8px rgba(255,0,255,0.5);
}
.dialogFrame {
	margin: -1px;
	border: 1px solid silver;
	border-radius: 4px;
	padding: 2px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	background-color: #fff;
	background-image: linear-gradient(#fff, #ccc);
	background-image: -o-linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(#fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}
.dialogTitle {
	font-size: 24px;
	line-height: 23px;
	padding: 5px;
	color: #fff;
	text-align: center;
	background-color: #00f;
	background-image: linear-gradient(#00f, #009);
	background-image: -o-linear-gradient(#00f, #009);
	background-image: -moz-linear-gradient(#00f, #009);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#009));
	border-radius: 4px;
	cursor: default;
}
.dialogText {
	font-size: 24px;
	line-height: 24px;
	color: #000;
	margin: 0.5em;
	cursor: default;
}
.dialogButton {
	font-size: 24px;
	line-height: 23px;
	padding: 5px;
	color: #000;
	background-color: #fff;
	background-image: linear-gradient(#fff, #ccc);
	background-image: -o-linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(#fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); 
	margin: 0 0.25em 0.5em 0.25em;
	border: 1px solid #000;
	border-radius: 4px;
	cursor: pointer;
}
.dialogButton:hover {
	color: #f00;
	text-shadow: 0px 0px 8px #f0f;
	border: 1px solid #f00;
	box-shadow: 0px 0px 8px rgba(255,0,255,0.5);
}
.saveicon {
	opacity: 0.5;
	cursor: pointer;
}
.saveicon:hover {
	opacity: 1;
}
.logFrame {
	background-color: #fff;
	background-image: linear-gradient(#fff, #ccc);
	background-image: -o-linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(#fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}
.logTitle {
	font-size: 24px;
	line-height: 23px;
	padding: 5px;
	color: #fff;
	text-align: center;
	background-color: #00f;
	background-image: linear-gradient(#00f, #009);
	background-image: -o-linear-gradient(#00f, #009);
	background-image: -moz-linear-gradient(#00f, #009);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#009));
	border-radius: 4px;
	margin: 2px;
	cursor: default;
}
.logText {
	font-size: 24px;
	line-height: 24px;
	color: #000;
	margin: 6px;
	padding: 6px;
	overflow: auto;
	cursor: default;
}
.logText::-webkit-scrollbar {
    width: 12px;
}
.logText::-webkit-scrollbar-track {
	border-radius: 8px;
	box-shadow: inset 0 0 8px #999;
}
.logText::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: inset 0 0 8px #333;
}
.logButton {
	margin: 4px;
	font-size: 20px;
	line-height: 19px;
	padding: 5px;
	color: #000;
	background-color: #fff;
	background-image: linear-gradient(#fff, #ccc);
	background-image: -o-linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(#fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); 
	border: 1px solid #000;
	border-radius: 4px;
	cursor: pointer;
}
.logButton:hover {
	color: #f00;
	text-shadow: 0px 0px 8px #f0f;
	border: 1px solid #f00;
	box-shadow: 0px 0px 8px rgba(255,0,255,0.5);
}
